body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 10px;
}

.display {
    grid-column: span 4;
    background-color: #333;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.button {
    background-color: rgb(0, 208, 255);
    color: white;
    border: none;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkblue;
}

.button:active {
    background-color: navy;
}
